<html>
<head>
    <title>
        Zpráva
    </title>
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <strong>
            Fakultní nemocnice v Motole, V Úvalu 84, Praha 5 15006, Tel: 224436767
        </strong>
        IČO: 00064203
        <strong>
            Oddělení urgentního příjmu dospělých
        </strong>
    </header>

    <h1 class="center">
        Zpráva o ambulantním vyšetření
    </h1>

    <!-- Pacient -->
    <section>
        <p>
            <strong>Pacient: </strong>
            BENÍŠEK ONDŘEJ
            (030727/2636)
        </p>

        <p>
            <strong>ZP: </strong>
            111
        </p>

        <p>
            <strong>Bydliště : </strong>
            Na Strážišti 1894, Kadaň 43201
        </p>
    </section><br>

    <!-- Zpráva -->
    <main>
        <!-- Hlavička -->
        <section>
            <p>
                <strong>Datum: </strong>
                02.08.2021
            </p>

            <p>
                Diagnóza:
                F432 Poruchy přizpůsobení
            </p>
        </section>

        <!-- Nález -->
        <section>
            <p>
                <strong>Nález: </strong>
                Čus zmrde. :)
            </p>
        </section>
    </main>

    <footer>
        <p>
            02.08.2021 16:24
        </p>

        <p class="right">
            <strong>MUDr. Ondřej Beníšek</strong><br>
            ošetřující lékař
        </p>
    </footer>
</body>

<style>
    body {
        font-family: monospace;
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }
</style>
</html>